TELEPORT_OAUTH_CLIENT_ID=
TELEPORT_OAUTH_CLIENT_SECRET=

TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=

NORRISWU_ME_CF_DNS_TOKEN=
PAWMERY_PET_CF_DNS_TOKEN=

AUTHENTIK_POSTGRES_HOST=
AUTHENTIK_POSTGRES_NAME=authentik
AUTHENTIK_POSTGRES_USER=
AUTHENTIK_POSTGRES_PASSWORD=
AUTHENTIK_SECRET_KEY=
