TELEPORT_OAUTH_CLIENT_ID=
TELEPORT_OAUTH_CLIENT_SECRET=

TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=

NORRISWU_ME_CF_DNS_TOKEN=
PAWMERY_PET_CF_DNS_TOKEN=

AUTHENTIK_POSTGRES_HOST=
AUTHENTIK_POSTGRES_NAME=authentik
AUTHENTIK_POSTGRES_USER=
AUTHENTIK_POSTGRES_PASSWORD=
AUTHENTIK_SECRET_KEY=

# https://infisical.home.norriswu.me/organizations/ebbe526b-20af-410a-a392-1a668e8208a4/projects/secret-management/8f0b1fbd-3bcf-4f49-bb35-93961d4229f7/secrets/prod?secretPath=%2Finfisical
INFISICAL_CLIENT_ID=
INFISICAL_CLIENT_SECRET=
